body {
    background-color: rgba(22, 22, 28, 0.88);
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;


} 
.square {
    width: 30%;
    background-color: rgba(22, 22, 28, 0.88);
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: all 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    -o-transition: background 0.6s ;
    
}
    
#container {
    max-width: 600px ;
    margin: 20px auto;
}

h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(108, 159, 106);
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
    padding: 20px 0;
}
 
#colorDisplay {
    font-size: 150%;
}
 
#stripe {
    background-color: white;
    height: 20px;
    text-align: center;
    color: black;
   
}

.selected {
    background: rgb(108, 159, 106);
    color: white;
}
 
button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: RGB(108, 159, 106);
    letter-spacing: 1px;
    font-size: inherit;
    font-family: inherit;
    border-radius: 5%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s ;
    outline: none;
} 

#message {
    display: inline-block;
    width: 20%;
}
 
button:hover {
    color: white;
    background: rgb(108, 159, 106);
}